# folders used in compilation and building
logs
target
project/boot

# Folder for running locally (uncomment this after you clone the repository)
#local

# IntelliJ specific folder
.idea

# Mac misc.
.DS_Store
