@* https://www.playframework.com/documentation/2.6.x/ScalaTemplates *@



@* This template takes three arguments:
 *
 *   title: a string for the title
 *    head: HTML content to be put in the head
 * content: HTML content which is the main content of the webpage
 *
 *@


@(title: String)(head: Html)(content: Html)

<!DOCTYPE html>
<html lang="en">
	<head>
		@* The 'title' argument gets inserted here. *@
		<title>@title</title>

		<meta charset="utf-8">

		@* The stylesheet and favicon get loaded here. *@
		<link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/main.css")'>
		<link rel="shortcut icon" type="image/png" href='@routes.Assets.versioned("images/favicon.png")'>

		@* Any other head tags come last *@
		@head

	</head>

	<body>
		
		@* The page's main content will be inserted here. *@
		@content

	</body>
</html>
